[project]
	description = Video Previewer For Uploaded Videos Before Transcoding
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jesse Ocon (jesseocon)
[access "refs/for/refs/*"]
	read = group user/Jesse Ocon (jesseocon)
	push = group user/Jesse Ocon (jesseocon)
	label-Code-Review = -2..+2 group user/Jesse Ocon (jesseocon)
	label-Verified = -1..+1 group user/Jesse Ocon (jesseocon)
	rebase = group user/Jesse Ocon (jesseocon)
	removeReviewer = group user/Jesse Ocon (jesseocon)
	submit = group user/Jesse Ocon (jesseocon)
[access "refs/heads/*"]
	read = group user/Jesse Ocon (jesseocon)
	create = group user/Jesse Ocon (jesseocon)
	push = +force group user/Jesse Ocon (jesseocon)
	pushMerge = group user/Jesse Ocon (jesseocon)
[access "refs/tags/*"]
	push = +force group user/Jesse Ocon (jesseocon)
	pushTag = group user/Jesse Ocon (jesseocon)
	pushSignedTag = group user/Jesse Ocon (jesseocon)
